<ion-content>
  <ion-item style="margin-top:-45px;"><div style=" text-align:center; margin :auto; width: 60%; height: 42%; ">
    <h3>Assignation planning</h3>  
    <h5 style="text-align:left;">Consigne</h5>
    <form  style="text-align:center; " (ngSubmit)="envoieplanning(formplanning.value)" [formGroup]="formplanning">
    <input type="text"  formControlName="consigne" style=" border: solid 1px; float: left; ">
    <h5 style="text-align:left;">Agent</h5>
    <select class="dropdown-primary" matNativeControl required formControlName="idagent">
      <option>Agent</option>
    </select>
    <h5 style="text-align:left;">Place</h5>
    <input type="text"  formControlName="position" style=" border: solid 1px; float: left; ">
    <ion-button color="primary" style=" margin-top:25px;" type="ngSubmit">Envoyer</ion-button>
  </form>
  </div>
  </ion-item>
</ion-content>
