<ion-tabs>

      <!-- <ion-tab-bar >
          <ion-tab-button tab="tab1" style="color:cornflowerblue">
              <ion-icon name="grid"></ion-icon>
              <ion-label>Accueil</ion-label>
          </ion-tab-button>
        <ion-tab-button tab="repporting" *ngIf=agent1>
          <ion-icon name="paper"></ion-icon>
          <ion-label>Repporting</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="planning" *ngIf=agent1>
          <ion-icon name="tablet-portrait"></ion-icon>
          <ion-label>Planning et consigne assigné</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="gestionagent" *ngIf=soustraitant>
          <ion-icon name="calculator"></ion-icon>
          <ion-label>Gestion accés et information</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tab3" *ngIf=soustraitant>
          <ion-icon name="list"></ion-icon>
          <ion-label>Historique</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tab2" *ngIf=client>
          <ion-icon name="body"></ion-icon>
          <ion-label>Doléance</ion-label>
        </ion-tab-button>
      </ion-tab-bar> -->


</ion-tabs>
