<ion-content>
<ion-item style="margin-top:-45px;;"><div style=" text-align:center; margin :auto; width: 60%; height: 42%; ">
  <h3>Planning de l'agent</h3>  
  <ion-content style="height:500px">
    <ion-list padding >
      <ion-item *ngFor="let items of agentcust" >
        <div  style="margin-bottom: 35px"><p style="margin:0"><b>Consigne: </b>{{items.consigne}} &nbsp;&nbsp;</p> <br><p style="margin:0"> <b>Date: </b>{{items.date}} &nbsp;&nbsp; <b>Position: </b>{{items.position}}</p>
        </div>
      </ion-item>

    </ion-list>
  </ion-content>
  
</div>
</ion-item>
</ion-content>
